@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body {
  background-color: #E0ECE4;
  font-family: 'Raleway', sans-serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  border-color: #5eaaa8;
  width: 10%;
}
h1 {
  color: #0f3460;
}
h3 {
  color: #0f3460;
}

img {
  border-radius: 100%
}
